.body {
  background-color: green($color: #000000);
  .main {
    color: red;

    font-size: 120rpx;

    border: none;

    font: 100rpx;
    border-radius: initial;

    margin: 0;
    display: block;

    box-sizing: border-box;
    margin-right: 20rpx;
    padding-left: 10px;
  }
}
